params{

    reads= "s3://lifebit-featured-datasets/pipelines/rnatoy-data"
    readsExtension="fq"
    allReads="${params.reads}/*_{1,2}.${params.readsExtension}"

    annot = "s3://lifebit-featured-datasets/pipelines/rnatoy-data/ggal_1_48850000_49020000.bed.gff"
    genome = "s3://lifebit-featured-datasets/pipelines/rnatoy-data/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    outdir = 'results'

}